*.swp
*.swo
*.swn
__pycache__
node_modules
venv
app/main/settings/dev.py
app/main/settings/prod.py
auth/main/settings/dev.py
auth/main/settings/prod.py
geoproxy/main/settings/dev.py
geoproxy/main/settings/prod.py
app/db.sqlite3