{% extends "layout_public.html" %}

{% block content %}
<table>
    <thead>
        <tr>
            <td> Нэр </td>
            <td> Url </td>
            <td> Үүсгэсэн хэрэглэгч </td>
            <td> Үүсгэсэн огноо </td>
        </tr>
    </thead>
    <tbody>
        {% for wms in wms_list%}
        <tr>
            <td><a href="{% url "wms:edit" wms.pk %}">{{ wms.name }}</a></td>
            <td>{{ wms.url }}</td>
            <td></td>
            <td>{{ wms.created_at.date }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url "wms:add" %}" class="btn">WMS нэмэх</a>
{% endblock %}