{% extends "layout_public.html" %}

{% block content %}
<table>
    <thead>
        <tr>
            <td> Багцын нэр </td>
            <td> Багцын үнэ </td>
            <td> WMS сервис </td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        {% for bundle in bundle_list%}
        <tr>
            <td><a href="{% url "bundle:edit" bundle.pk %}">{{ bundle.name }}</a></td>
            <td>{{ bundle.price }}</td>
            <td>{{ bundle.date }}</td>
            <td> 
            {% if bundle.is_removeable %}
                <a href="{% url "bundle:delete" bundle.pk %}">устгах</a>
            {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url "bundle:add" %}" class="btn">Нэмэх</a>
{% endblock %}